services:
  web:
    build:
      context: ./cartogram-web/
      dockerfile: Dockerfile
    image: gocartio/cartogram-web
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_healthy
    env_file:
      - ./.env
    environment:
      - CARTOGRAM_DEBUG=TRUE
      - CARTOGRAM_DATABASE_URI=postgresql://cartogram:password@postgres/cartogram
    command: sh -c "pip install pytest pytest-mock ruff && python web.py"
    ports:
      - "5001:5000"
    volumes:
      - ./cartogram-web/internal:/root/internal
      - ./cartogram-web/tools:/root/tools
      - ./data/userdata:/root/internal/static/userdata

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  postgres:
    image: postgres:12-alpine
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=cartogram
      - POSTGRES_PASSWORD=password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
